@import "basscss.scss" ;

.border-blue {border-color: #0073F2;}

.sidebar {
	position: fixed;
	padding: 0px 0 10px 30px;
	background-color: #0073F2;
	color: white;
	width: 250px;	
	height: 100%;
	float:left;
}

p.a:hover{
	color: black;
	font-weight: bold;
}

.space {
	padding-left:40px;

}


